.container {
  display: flex;
}
.card {
  width: 270px;
  height: 500px;
}
.img {
  width: 270px;
  height: 400px;
  object-fit: cover;
}
.bland {
  font-size: 10px;
  margin-top: 0px;
}
.name {
  font-size: 12px;
  margin-top: -5px;
}
.val {
  font-size: 12px;
  margin-top: -10px;
  display: flex;
}
.sel {
  color: red;
  margin-right: 4px;
}
