main > .photo__box {
  width: 100vw;
  height: 70vh;
}
main > .photo__box > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
main > .introduction__box {
  max-width: 1040px;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 117px;
}
main > .introduction__box > .introduction__box-preface {
  width: 100%;
  height: 50px;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.introduction__box > .introduction__box-preface > .preface-title {
  font-size: 40px;
  color: gold;
}
.introduction__box > .introduction__box-preface > .preface-text {
  font-size: 20px;
  position: relative;
  padding-left: 20px;
}
.preface-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 40px;
  background-color: rgb(220, 220, 220);
}
.introduction__box > .list__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction__box > .list__box > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.introduction__box > .list__box > section > i {
  font-size: 48px;
}
.introduction__box > .list__box > section > h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}
main > .work__section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.work__section > .work__section-title {
  width: 1040px;
  max-width: 1040px;
  height: 50px;
  margin: 0 auto;
}
.work__section > .work__section-title > .work__title-text {
  font-size: 40px;
  color: gold;
}
.work__section > .work__section-grid {
  width: 80%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.work__section > .work__section-grid > .work__grid-card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: all 2s;
}
.work__section > .work__section-grid > .work__grid-card > img {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ri-hourglass-line {
  font-size: 120px;
  color: gold;
}
.work__card-action {
  width: 100%;
  height: 100%;
  background-color: rgba(232, 0, 0, 0.6);
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work__card-action > .work__action-text {
  color: gold;
  font-size: 40px;
}
.work__card-action > .work__action-text2 {
  color: gold;
  font-size: 15px;
}
.work__grid-card:hover > .work__card-action {
  top: 0;
}

main > .blog__section {
  width: 100vw;
  height: 50vh;
}
.blog__section > .blog__section-flex {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.blog__section > .blog__section-flex > .blog__flex-title {
  width: 200px;
  height: 300px;
  font-size: 40px;
  color: gold;
  margin-bottom: 20px;
}
.blog__section > .blog__section-flex > .blog__flex-card {
  width: 250px;
  height: 320px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.blog__flex-card > img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.blog__flex-card > .blog__card-date {
  color: rgb(143, 143, 143);
  margin-top: 13px;
  font-size: 14px;
}
.blog__flex-card > .blog__card-text {
  margin-top: 8px;
}
