.container {
  display: flex;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-right: 30px;
}
.title_0 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 21px;
}
.bt_b {
  color: white;
  background-color: black;
  border-radius: 50px;
  border: none;
  padding: 8px 18px;
  font-weight: 700;
}
.bt_w {
  color: black;
  background-color: rgb(245, 245, 245);
  border-radius: 50px;
  border: none;
  padding: 8px 18px;
  margin-left: 5px;
}
.img_container {
  display: flex;
}
.box {
  display: flex;
}
.box_sub {
  width: 270px;
  height: 400px;
}
.img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 20px;
}
.title {
  font-size: 18px;
  font-weight: normal;
  margin-top: -5px;
  margin-left: 10px;
}
.sale_box {
  display: flex;
}
.sale {
  color: red;
  font-size: 18px;
  font-weight: 700;
  margin-top: -10px;
  margin-left: 10px;
}
.valuse {
  font-size: 18px;
  font-weight: 700;
  margin-top: -10px;
  margin-left: 10px;
}
.star_box {
  display: flex;
  margin-top: 2px;
}
.star {
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
}
.pip {
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
}
